<div class="scroll-item" id='contact'>

  <div class="contact-title">
    <h1>Get in touch</h1>
  </div>

  <div class="contact-info">
    <p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
  </div>

  <div class="contact-wrapper">
    <div class="contact-form">
      <%= render 'form', @contacts %>
    </div>
  </div>

  <div class="contact-links">
    <%= link_to 'GitHub', 'https://github.com/polina-drykova', target: '_blank', class: 'links' %>
    <%= link_to 'Resume', 'Resume_Polina.pdf', target: '_blank', class: 'links' %>
    <%= link_to 'Gmail', 'mailto:polina.drykova1988@gmail.com', target: '_blank', class: 'links' %>
    <%= link_to 'LinkedIn', 'https://linkedin.com/in/polina-drykova', target: '_blank', class: 'links' %>
  </div>
</div>

