<div class="container">
  <!-- navbar var1 -->
    <div id='top' class="navbar">
      <ul>
        <a href="#home"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#work"><li>Projects</li></a>
        <!-- <a href="#skills"><li>Skills</li></a> -->
        <a href="#contact"><li>Contact</li></a>
      </ul>
    </div>
  <!-- navbar var1 -->

  <!-- social links -->
   <div class="social">
    <ul class="wall">
      <!-- <li><a href="https://github.com/polina-drykova"><i class="fa fa-github"></i><span>Github</span></a></li> -->
      <li><a href="https://github.com/polina-drykova" target="_blank"><i class="fa fa-github"></i><span>Github</span></a></li>
      <li><a href="https://linkedin.com/in/polina-drykova" target="_blank"><i class="fa fa-linkedin"></i><span>Linked</span></li>
      <li><a href="mailto:polina.drykova1988@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-weight: normal;"></i><span>Gmail</span></li>
      <!-- <li><a href="#about"><i class="fa fa-info"></i><span>About</span></li>
      <li><a href="#contact"><i class="fa fa-paper-plane"></i><span>Contact</span></li> -->
    </ul>
  </div>
  <!-- social links -->

  <!-- social media bar(use _social_colorful_navbar) -->
    <!-- <div class="social">
      <ul class="social-nav">
        <li class="facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="google"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li class="github"><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li class="linked"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li class="codepen"><a href=""><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
      </ul>
    </div> -->
  <!-- social media bar -->

<!-- sections start -->
  <!-- home section-->
    <a class="scroll-item" id='home'>
      <div class="main">
        <div class="parallax">
            <div class="parallax__layer parallax__layer__0">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true" />
            </div>
            <div class="parallax__layer parallax__layer__1">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true" />
            </div>
            <div class="parallax__layer parallax__layer__2">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true"/>
            </div>
            <div class="parallax__layer parallax__layer__3">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true"/>
            </div>
            <div class="parallax__layer parallax__layer__4">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true"/>
            </div>
            <div class="parallax__layer parallax__layer__5">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true"/>
            </div>
            <div class="parallax__layer parallax__layer__6">
                <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true" />
            </div>
            <div class="parallax__cover"></div>
        </div>
        <div class="wrapper">
          <div class="name">
            <h2>POLINA DRYKOVA</h2>
          </div>
          <div class="description">
              <p class="dev" style=>Full Stack Rails developer and LeWagon alumnus.</p>
            <div class="text-scramble">
              <p class="text"></p>
            </div>
            <!-- Ruby, Javascript, HTML, CSS and React. -->
            <!-- <p class="dev">All the power of Rails in an elf-sized package.</p> -->

          </div>
        </div>
        <!-- scroll down icon -->
          <div class="scroll-container d-flex justify-content-center">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <!-- <span class="text-scroll">Scroll down</span> -->
          </div>
        <!-- scroll down icon -->
      </div>
    </a>
  <!-- home section-->




  <!-- About section-->
    <a class="scroll-item" id='about'>
      <div class="wrapper-about">
      <div class="title-about">
        <h2>ABOUT ME</h2>
        <%= image_tag("me.jpg", class: 'avatar') %>
        <p> I can design and implement custom websites for your business or personal portfolio.
You can automate your interactions with your customers via personalised backend implementations. Whether your customers are on desktop or on mobile.</p>
      <!-- I have a passion for web design and love to create for web and mobile devices. -->
      </div>
      <div class="container-about">
        <div id="left">
          <!-- <h1>Web Development</h1> -->
          <ul class="skills-bar-container">
            <span class="percent"></span>
            <li>
              <label>Ruby / Rails</label>
              <span class="progressbar progressblue" id="progress-htmlcss"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>HTML5 / CSS3 </label>
              <span class="progressbar progressblue" id="progress-jsjq"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>JavaScript / jQuery</label>
              <span class="progressbar progressblue" id="progress-php"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>React</label>
              <span class="progressbar progressblue" id="progress-java"></span>
            </li>
          </ul>
        </div>

       <!-- <div id="right">
         <h1>Programming</h1>
         <ul class="skills-bar-container">
           <label>Java</label>
           <span class="percent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-java"></span>
           </li>

           <label>C#</label>
           <span class="percent" id="angular-pourcent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-csharp"></span>
           </li>

           <label>SQL / MySQL</label>
           <span class="percent" id="angular-pourcent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-sql"></span>
           </li>
         </ul>
       </div> -->
     </div>
     </div>


        <!-- end section -->
    </a>
  <!-- About section-->

  <!-- work section-->
    <div class="scroll-item" id='work'>
      <!-- carousel -->
      <div class="carousel-wrapper">
      <div class="title">
        <h2>RECENT PROJECTS</h2>
      </div>
        <div class="carousel" id="effect2">
          <div class="carousel__nav">
            <span id="moveLeft" class="carousel__arrow">
              <svg class="carousel__icon" width="70" height="30" viewBox="0 1 25 25">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
              </svg>
            </span>
            <span id="moveRight" class="carousel__arrow" >
              <svg class="carousel__icon"  width="70" height="30" viewBox="0 1 25 25">
                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
              </svg>
            </span>
          </div>
          <div class="carousel-item carousel-item--1">
            <div class="carousel-item__info">
              <div class="carousel-item__container">
                <!-- <h2 class="carousel-item__subtitle">The grand moment </h2> -->
                <h1 class="carousel-item__title">MealScope</h1>
                <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam.</p>
                <!-- <a href="#" class="carousel-item__btn">Explore the tour</a> -->
            <div class="carousel-item__image"></div>
              </div>
              <div class="btns">
                <a class="card-btn" href="http://mealscope.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                <a class="card-btn" href="https://github.com/eric-reale/mealscope" target="_blank"><i class="fa fa-github"></i> Github</a>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-item--2">
            <div class="carousel-item__info">
              <div class="carousel-item__container">
                <!-- <h2 class="carousel-item__subtitle">The big window </h2> -->
                <h1 class="carousel-item__title">Snapshot</h1>
                <p class="carousel-item__description">Clear Glass Window With Brown and White voluptatem accusantium doloremque laudantium.</p>
            <div class="carousel-item__image"></div>
                <!-- <a href="#" class="carousel-item__btn">Read the article</a> -->
              </div>
              <div class="btns">

                <a class="card-btn" href="https://snapshot-lewagon.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                <a class="card-btn" href="https://github.com/polina-drykova/snapshot" target="_blank"><i class="fa fa-github"></i> Github</a>
                </div>

            </div>
          </div>
          <div class="carousel-item carousel-item--3">
            <div class="carousel-item__info">
              <div class="carousel-item__container">
                <!-- <h2 class="carousel-item__subtitle">Tropical palms </h2> -->
                <h1 class="carousel-item__title">Mixit</h1>
                <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam.</p>
                <!-- <a href="#" class="carousel-item__btn">Explore the palms</a> -->
            <div class="carousel-item__image"></div>
              </div>
                            <div class="btns">

                <a class="card-btn" href="https://rails-mixit.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                <a class="card-btn" href="https://github.com/polina-drykova/mixit" target="_blank"><i class="fa fa-github"></i> Github</a>
                              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- carousel -->
    </div>
  <!-- work section-->

  <!-- skills section-->
    <!--  <a class="scroll-item" id='skills'>
      <h1>Skills</h1>
    </a> -->
  <!-- skills section-->


  <!-- contact section-->
    <div class="scroll-item" id='contact'>
      <div class="contact-title">
        <h1>Get in touch</h1>
      </div>
      <div class="contact-info">
        <p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
      </div>
      <div class="contact-wrapper">
        <div class="contact-form">
          <%= render 'form', @contacts %>
<!--           <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
 -->
        </div>
      </div>
      <div class="contact-links">
        <%= link_to 'GitHub', 'https://github.com/polina-drykova', target: '_blank', class: 'links' %>
        <%= link_to 'Gmail', 'mailto:polina.drykova1988@gmail.com', target: '_blank', class: 'links' %>
        <%= link_to 'LinkedIn', 'linkedin.com/in/polina-drykova', target: '_blank', class: 'links' %>
      </div>
    </div>
  <!-- contact section-->
<!-- sections end -->
</div>



<!-- JavaScript codes -->
  <div class="hidden-code">
<!-- JS for TextScramble -->

<!-- -->
       <script>
         class TextScramble {
           constructor(el) {
             this.el = el
             this.chars = '!<>-_\\/[]{}—=+*^?#________'
             this.update = this.update.bind(this)
           }
           setText(newText) {
             const oldText = this.el.innerText
             const length = Math.max(oldText.length, newText.length)
             const promise = new Promise((resolve) => this.resolve = resolve)
             this.queue = []
             for (let i = 0; i < length; i++) {
               const from = oldText[i] || ''
               const to = newText[i] || ''
               const start = Math.floor(Math.random() * 40)
               const end = start + Math.floor(Math.random() * 40)
               this.queue.push({ from, to, start, end })
             }
             cancelAnimationFrame(this.frameRequest)
             this.frame = 0
             this.update()
             return promise
           }
           update() {
             let output = ''
             let complete = 0
             for (let i = 0, n = this.queue.length; i < n; i++) {
               let { from, to, start, end, char } = this.queue[i]
               if (this.frame >= end) {
                 complete++
                 output += to
               } else if (this.frame >= start) {
                 if (!char || Math.random() < 0.28) {
                   char = this.randomChar()
                   this.queue[i].char = char
                 }
                 output += `<span class="dud">${char}</span>`
               } else {
                 output += from
               }
             }
             this.el.innerHTML = output
             if (complete === this.queue.length) {
               this.resolve()
             } else {
               this.frameRequest = requestAnimationFrame(this.update)
               this.frame++
             }
           }
           randomChar() {
             return this.chars[Math.floor(Math.random() * this.chars.length)]
           }
         }

         // ——————————————————————————————————————————————————
         // Example
         // ——————————————————————————————————————————————————

         const phrases = [
           'Ruby, Javascript',
           'HTML, CSS',
           'Rails and React.'
         ]

         const el = document.querySelector('.text')
         const fx = new TextScramble(el)

         let counter = 0
         const next = () => {
           fx.setText(phrases[counter]).then(() => {
             setTimeout(next, 800)
           })
           counter = (counter + 1) % phrases.length
         }

         next();

       </script>
    <!-- JS for TextScramble -—>

    <!- JS for smooth scrolling start -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript">
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
            ) {
            // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 800 );
            }
          }
        });
      </script>
    <!-- JS for smooth scrolling end -->



    <!-- JS for carousel start -->
      <script>
        $(function(){
          $('.carousel-item').eq(0).addClass('active');
          var total = $('.carousel-item').length;
          var current = 0;
          $('#moveRight').on('click', function(){
            var next=current;
            current= current+1;
            setSlide(next, current);
          });
          $('#moveLeft').on('click', function(){
            var prev=current;
            current = current- 1;
            setSlide(prev, current);
          });
          function setSlide(prev, next){
            var slide= current;
            if(next>total-1){
             slide=0;
             current=0;
           }
           if(next<0){
            slide=total - 1;
            current=total - 1;
          }
          $('.carousel-item').eq(prev).removeClass('active');
          $('.carousel-item').eq(slide).addClass('active');
          setTimeout(function(){
          },800);

          console.log('current '+current);
          console.log('prev '+prev);
        }
      });
      </script>
    <!-- JS for carousel end -->

  </div>
