<div class="container">
  <div class="navbar my-auto">
    <ul>
      <li class="my-auto"><%= link_to 'Home', id: "#home" %></li>
      <li><%= link_to 'Work', id: "#work" %></li>
      <li><%= link_to 'Skills', id: "#skills" %></li>
      <li><%= link_to 'About', id: "#about" %></li>
      <li><%= link_to 'Contact', id: "#contact" %></li>
    </ul>
  </div>
  <section id='home'>
    <h1>Home</h1>
  </section>

  <section id='work'>
    <h1>Work</h1>
  </section>

  <section id='skills'>
    <h1>Skills</h1>
  </section>

  <section id='about'>
    <h1>About</h1>
  </section>

  <section id='contact'>
    <h1>Contact</h1>
  </section>

</div>
