<div class="container">
  <!-- navbar var1 -->
    <div id='top' class="navbar">
      <ul>
        <a href="#home"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#work"><li>Projects</li></a>
        <!-- <a href="#skills"><li>Skills</li></a> -->
        <a href="#contact"><li>Contact</li></a>
      </ul>
    </div>
  <!-- navbar var1 -->

  <!-- social links -->
   <div class="social">
    <ul class="wall">
      <!-- <li><a href="https://github.com/polina-drykova"><i class="fa fa-github"></i><span>Github</span></a></li> -->
      <li><a href="https://github.com/polina-drykova" target="_blank"><i class="fa fa-github"></i><span>Github</span></a></li>
      <li><a href="https://linkedin.com/in/polina-drykova" target="_blank"><i class="fa fa-linkedin"></i><span>Linked</span></li>
      <li><a href="mailto:polina.drykova1988@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-weight: normal;"></i><span>Gmail</span></li>
      <!-- <li><a href="#about"><i class="fa fa-info"></i><span>About</span></li>
      <li><a href="#contact"><i class="fa fa-paper-plane"></i><span>Contact</span></li> -->
    </ul>
  </div>
  <!-- social links -->

  <!-- social media bar(use _social_colorful_navbar) -->
    <!-- <div class="social">
      <ul class="social-nav">
        <li class="facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="google"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li class="github"><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li class="linked"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li class="codepen"><a href=""><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
      </ul>
    </div> -->
  <!-- social media bar -->

<!-- sections start -->
  <!-- home section-->
    <a class="scroll-item" id='home'>
      <div class="main">
        <div class="wrapper">
          <div class="name">
            <h2>POLINA DRYKOVA</h2>
          </div>
          <div class="description">
              <p class="dev" style=>Full Stack Rails developer and LeWagon alumnus.</p>
            <div class="text-scramble">
              <p class="text"></p>
            </div>
            <!-- Ruby, Javascript, HTML, CSS and React. -->
            <!-- <p class="dev">All the power of Rails in an elf-sized package.</p> -->

          </div>
        </div>
        <!-- Waves start -->
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
        </div>
        <div class="content flex">
        <!-- scroll down icon -->
          <div class="scroll-container d-flex justify-content-center">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <!-- <span class="text-scroll">Scroll down</span> -->
          </div>
        <!-- scroll down icon -->
        </div>
        <!--Waves end-->
      </div>
    </a>
  <!-- home section-->




  <!-- About section-->
    <a class="scroll-item" id='about'>
      <div class="wrapper-about">
      <div class="title-about">
        <h2>ABOUT ME</h2>
        <%= image_tag("me.jpg", class: 'avatar') %>
        <p> I can design and implement custom websites for your business or personal portfolio.
You can automate your interactions with your customers via personalised backend implementations. Whether your customers are on desktop or on mobile.</p>
      <!-- I have a passion for web design and love to create for web and mobile devices. -->
      </div>
      <div class="container-about">
        <div id="left">
          <!-- <h1>Web Development</h1> -->
          <ul class="skills-bar-container">
            <span class="percent"></span>
            <li>
              <label>Ruby / Rails</label>
              <span class="progressbar progressblue" id="progress-htmlcss"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>HTML5 / CSS3 </label>
              <span class="progressbar progressblue" id="progress-jsjq"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>JavaScript / jQuery</label>
              <span class="progressbar progressblue" id="progress-php"></span>
            </li>
            <span class="percent"></span>
            <li>
              <label>React</label>
              <span class="progressbar progressblue" id="progress-java"></span>
            </li>
          </ul>
        </div>

       <!-- <div id="right">
         <h1>Programming</h1>
         <ul class="skills-bar-container">
           <label>Java</label>
           <span class="percent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-java"></span>
           </li>

           <label>C#</label>
           <span class="percent" id="angular-pourcent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-csharp"></span>
           </li>

           <label>SQL / MySQL</label>
           <span class="percent" id="angular-pourcent"></span>
           <li>
             <span class="progressbar progressblue" id="progress-sql"></span>
           </li>
         </ul>
       </div> -->
     </div>
     </div>


        <!-- end section -->
    </a>
  <!-- About section-->

  <!-- work section-->
    <div class="scroll-item" id='work'>
      <!-- carousel -->
      <div class="carousel-wrapper">
        <div class="title">
          <h2>RECENT PROJECTS</h2>
        </div>
        <div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
                <h1>MealScope</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam.</p>
                <%= image_tag ('macbook1.png') %>
                <div class="btns">
                  <a class="card-btn" href="http://mealscope.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                  <a class="card-btn" href="https://github.com/eric-reale/mealscope" target="_blank"><i class="fa fa-github"></i> Github</a>
                </div>
              </div>
              <div class="slide">
                <h1>Snapshot</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam.</p>
                <%= image_tag ('macbook.png') %>
                <div class="btns">
                  <a class="card-btn" href="https://snapshot-lewagon.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                  <a class="card-btn" href="https://github.com/polina-drykova/snapshot" target="_blank"><i class="fa fa-github"></i> Github</a>
                </div>
              </div>
              <div class="slide">
                <h1>Mixit</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam.</p>
                <%= image_tag ('macbook2.png') %>
                <div class="btns">
                  <a class="card-btn" href="https://rails-mixit.herokuapp.com/" target="_blank"><i class="fa fa-dribbble"></i> Explore</a>
                  <a class="card-btn" href="https://github.com/polina-drykova/mixit" target="_blank"><i class="fa fa-github"></i> Github</a>
                </div>
              </div>
            </div>
           </div>
         </div><!-- End // .slider -->

   <div class="slide_buttons">
   </div>

   <div class="directional_nav">
     <div class="previous_btn" title="Previous">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
         <g>
           <g>
             <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
        c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
             <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0  c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564  c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
           </g>
         </g>
       </svg>
     </div>
     <div class="next_btn" title="Next">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
         <g>
           <g>
             <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5 c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288  c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
             <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035       L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
           </g>
         </g>
       </svg>
     </div>
   </div><!-- End // .directional_nav -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      </div>
      <!-- carousel -->
    </div>
  <!-- work section-->

  <!-- skills section-->
    <!--  <a class="scroll-item" id='skills'>
      <h1>Skills</h1>
    </a> -->
  <!-- skills section-->


  <!-- contact section-->
    <div class="scroll-item" id='contact'>
      <div class="contact-title">
        <h1>Get in touch</h1>
      </div>
      <div class="contact-info">
        <p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
      </div>
      <div class="contact-wrapper">
        <div class="contact-form">
          <%= render 'form', @contacts %>
<!--           <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
 -->
        </div>
      </div>
      <div class="contact-links">
        <%= link_to 'GitHub', 'https://github.com/polina-drykova', target: '_blank', class: 'links' %>
        <%= link_to 'Gmail', 'mailto:polina.drykova1988@gmail.com', target: '_blank', class: 'links' %>
        <%= link_to 'LinkedIn', 'linkedin.com/in/polina-drykova', target: '_blank', class: 'links' %>
      </div>
    </div>
  <!-- contact section-->
  <!-- sections end -->
  <!-- Footer -->
    <div class="footer">
      <p>Made with ♥️ and glass of wine</p>
      <a href="#home" tooltip="To Top"><i class="fa fa-chevron-circle-up wobble"></i></a>
    </div>
  <!-- Footer -->
</div>



<!-- JavaScript codes -->
  <div class="hidden-code">

    <script>
      $('.slider').each(function() {
        var $this = $(this);
        var $group = $this.find('.slide_group');
        var $slides = $this.find('.slide');
        var bulletArray = [];
        var currentIndex = 0;
        var timeout;

        function move(newIndex) {
          var animateLeft, slideLeft;

          advance();

          if ($group.is(':animated') || currentIndex === newIndex) {
            return;
          }

          bulletArray[currentIndex].removeClass('active');
          bulletArray[newIndex].addClass('active');

          if (newIndex > currentIndex) {
            slideLeft = '100%';
            animateLeft = '-100%';
          } else {
            slideLeft = '-100%';
            animateLeft = '100%';
          }

          $slides.eq(newIndex).css({
            display: 'block',
            left: slideLeft
          });
          $group.animate({
            left: animateLeft
          }, function() {
            $slides.eq(currentIndex).css({
              display: 'none'
            });
            $slides.eq(newIndex).css({
              left: 0
            });
            $group.css({
              left: 0
            });
            currentIndex = newIndex;
          });
        }

        function advance() {
          clearTimeout(timeout);
          timeout = setTimeout(function() {
            if (currentIndex < ($slides.length - 1)) {
              move(currentIndex + 1);
            } else {
              move(0);
            }
          }, 8000);
        }

        $('.next_btn').on('click', function() {
          if (currentIndex < ($slides.length - 1)) {
            move(currentIndex + 1);
          } else {
            move(0);
          }
        });

        $('.previous_btn').on('click', function() {
          if (currentIndex !== 0) {
            move(currentIndex - 1);
          } else {
            move(3);
          }
        });

        $.each($slides, function(index) {
          var $button = $('<a class="slide_btn">&bull;</a>');

          if (index === currentIndex) {
            $button.addClass('active');
          }
          $button.on('click', function() {
            move(index);
          }).appendTo('.slide_buttons');
          bulletArray.push($button);
        });

        advance();
      });
    </script>
<!-- JS for TextScramble -->

<!-- -->
       <script>
         class TextScramble {
           constructor(el) {
             this.el = el
             this.chars = '!<>-_\\/[]{}—=+*^?#________'
             this.update = this.update.bind(this)
           }
           setText(newText) {
             const oldText = this.el.innerText
             const length = Math.max(oldText.length, newText.length)
             const promise = new Promise((resolve) => this.resolve = resolve)
             this.queue = []
             for (let i = 0; i < length; i++) {
               const from = oldText[i] || ''
               const to = newText[i] || ''
               const start = Math.floor(Math.random() * 40)
               const end = start + Math.floor(Math.random() * 40)
               this.queue.push({ from, to, start, end })
             }
             cancelAnimationFrame(this.frameRequest)
             this.frame = 0
             this.update()
             return promise
           }
           update() {
             let output = ''
             let complete = 0
             for (let i = 0, n = this.queue.length; i < n; i++) {
               let { from, to, start, end, char } = this.queue[i]
               if (this.frame >= end) {
                 complete++
                 output += to
               } else if (this.frame >= start) {
                 if (!char || Math.random() < 0.28) {
                   char = this.randomChar()
                   this.queue[i].char = char
                 }
                 output += `<span class="dud">${char}</span>`
               } else {
                 output += from
               }
             }
             this.el.innerHTML = output
             if (complete === this.queue.length) {
               this.resolve()
             } else {
               this.frameRequest = requestAnimationFrame(this.update)
               this.frame++
             }
           }
           randomChar() {
             return this.chars[Math.floor(Math.random() * this.chars.length)]
           }
         }

         // ——————————————————————————————————————————————————
         // Example
         // ——————————————————————————————————————————————————

         const phrases = [
           'Ruby, Javascript',
           'HTML, CSS',
           'Rails and React.'
         ]

         const el = document.querySelector('.text')
         const fx = new TextScramble(el)

         let counter = 0
         const next = () => {
           fx.setText(phrases[counter]).then(() => {
             setTimeout(next, 800)
           })
           counter = (counter + 1) % phrases.length
         }

         next();

       </script>
    <!-- JS for TextScramble -—>

    <!- JS for smooth scrolling start -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript">
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
            ) {
            // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 800 );
            }
          }
        });
      </script>
    <!-- JS for smooth scrolling end -->



    <!-- JS for carousel start -->
      <script>
        $(function(){
          $('.carousel-item').eq(0).addClass('active');
          var total = $('.carousel-item').length;
          var current = 0;
          $('#moveRight').on('click', function(){
            var next=current;
            current= current+1;
            setSlide(next, current);
          });
          $('#moveLeft').on('click', function(){
            var prev=current;
            current = current- 1;
            setSlide(prev, current);
          });
          function setSlide(prev, next){
            var slide= current;
            if(next>total-1){
             slide=0;
             current=0;
           }
           if(next<0){
            slide=total - 1;
            current=total - 1;
          }
          $('.carousel-item').eq(prev).removeClass('active');
          $('.carousel-item').eq(slide).addClass('active');
          setTimeout(function(){
          },800);

          console.log('current '+current);
          console.log('prev '+prev);
        }
      });
      </script>
    <!-- JS for carousel end -->

  </div>
